body{
    background-color: rgb(27,27,27);
}
.wrapper{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
nav{
    background-color: rgb(27,27,27);
    
    grid-area: header;
    animation-name: cascade;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}
nav ul{
    list-style-type: none;
}
footer{
    background-color: rgb(27,27,27);   
}
/*Edicion index*/
.mainIndex{
    background-color: rgb(78, 78, 78);
    height: 800px;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: main;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
}
.gridIndex{
    margin-top: 6%;
    display:grid;
    grid-template-areas:
    "I1 I2 I3"
    ;
}
.I1{
    grid-area: I1;
}
.I1{
    grid-area: I2;
}
.I1{
    grid-area: I3;
}
.IMG1, .IMG2, .IMG3{
    margin-top: 3%;
}
.zoomIndex:hover{
    transform:scale(1.2);
}
/*Edicion nosotros*/
.mainNosotros{
    background-color: rgb(78, 78, 78);
    height: 850px;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: main;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
}
.divTP{
    margin-top: 0%;
}
.divNosotros{
    margin-top: 3%;
    display: grid;
    grid-template-areas: 
    "N1 N2 N3"
    ;
}
.N1{
    grid-area: N1;
}
.N2{
    grid-area: N2;
}
.N3{
    grid-area: N3;
}
.zoomNosotros:hover{
    transform: scale(1.2);
}
/*Edicion casaMatriz*/
.mainCM{
    background-color: rgb(78, 78, 78);
    height: 1100px;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: main;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
}
.Mapa{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*Edicion contacto*/
.mainContacto{
    background-color: rgb(78, 78, 78);
    height: 800px;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: main;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
}
.formContacto{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width:auto;

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}
.mainContacto h3{
    font-weight: 900;
    color: rgb(186, 8, 8);
}
/*Edicion resenas*/
.mainResenas{
    background-color: rgb(78, 78, 78);
    height: 800px;
    color: blanchedalmond;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    grid-area: main;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
}
.mainResenas h1{
    margin-left: 5%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.wrapperResenas{
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-areas: 
    "dr1 dr2"
    "dr3 dr4"
    "dr5 dr6"
    ;
}
.divResenas{
    color: black;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border: solid rgb(255, 255, 255) 2px;
    border-radius:  20px;
}
.dr1{
    grid-area: dr1;
    margin-right: 20%;
    margin-bottom: 10%;
}
.dr2{
    grid-area: dr2;
    margin-left: 20%;
    margin-bottom: 10%;
}
.dr3{
    grid-area: dr3;
    margin-right: 20%;
    margin-top: 10%;
}
.dr4{
    grid-area: dr4;
    margin-left: 20%;
    margin-top: 10%;
}
.dr5{
    grid-area: dr5;
    margin-right: 20%;
    margin-top: 20%;
}
.dr6{
    grid-area: dr6;
    margin-left: 20%;
    margin-top: 20%;
}
/*Keyframes y Media*/
@keyframes cascade{
    0%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(0px);
    }
}
@media screen and (max-width:425px){
    

    .mainMedia{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-size: medium;
    }
    nav{
        font-size: x-small !important;
    }
    .divNosotros{
        grid-template-areas:
        "N1"
        "N2"
        "N3"
        ;
    }
    .N1, .N2, .N3{
        margin-top: 3%;
        height: 120px;
        width: 230px;
    }
}
@media screen and (max-width:468px){
    

    .mainMedia{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-size: medium;
    }
    nav{
        font-size: x-small !important;
    }
    .divNosotros{
        grid-template-areas:
        "N1"
        "N2"
        "N3"
        ;
    }
    .N1, .N2, .N3{
        margin-top: 3%;
        height: 120px;
        width: 230px;
    }
}
@media screen and (max-width:768px){
    

    .mainMedia{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        font-size: 25px;
    }
    .mainNosotros{
        height: 1200px;
    }
    .divNosotros{
        grid-template-areas:
        "N1"
        "N2"
        "N3"
        ;
    }
    .N1, .N2, .N3{
        margin-top: 3%;
    }
}